<?xml version="1.0"?>
<robot name="mobile_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find alphabot_description)/urdf/alphabot.urdf.xacro"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/linear_guide.xacro"/>
  <xacro:include filename="$(find rm_description)/urdf/rm_75_gazebo.urdf"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/mobile_manipulator_ros_contol.xacro"/>



  <joint name="chassis_to_column" type="fixed">
    <parent link="chassis_link"/>  
    <child  link="column"/>        
    <origin xyz="0 0 0.1" rpy="0 0 1.57"/>
  </joint>



  <joint name="slider_to_arm_base" type="fixed">
    <parent link="slider"/>        
    <child  link="base_link"/>     
    <origin xyz="0 -0.33 0.06" rpy="0 0 -1.57"/>
  </joint>



  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find mobile_manipulator_control)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>


      <gazebo>
        <plugin name="elevator_trigger_plugin" filename="libelevator_trigger_plugin.so">
        <!-- Elevator entry position -->
        <target_pose_enter>
            <x>2.0</x>
            <y>1.5</y>
            <z>0.0</z>
        </target_pose_enter>

        <!-- Elevator exit position -->
        <target_pose_exit>
            <x>5.0</x>
            <y>1.5</y>
            <z>0.0</z>
        </target_pose_exit>

        <!-- Distance tolerance in meters -->
        <tolerance>0.5</tolerance>
        </plugin>
    </gazebo>

  <!-- <xacro:include filename="$(find mobile_manipulator_description)/urdf/camera_module.urdf.xacro"/>
  
  <xacro:intel_d435_camera/>
  <joint name="link_7to_camera" type="fixed">
    <parent link="Link7"/>        
    <child  link="camera_link"/>     
    <origin xyz="0.0 -0.05 0.0" rpy="0 0 0"/>
  </joint> -->

</robot>
